.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info {
    margin-bottom: 20px;
}

.event-info label, .event-info input {
    display: block;
    margin: 5px 0;
}

.time-display {
    text-align: center;
    font-size: 1.25rem;
    width: 100vw;

    h4 {
        font-weight: 800;
        color: #72035D;
    }

    .time {
        font-size: 1.5rem;
    }
}
